* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  flex: 1 0 auto;
}

html {
  font-family: "Noto Serif HK", serif;
}

#myMap {
  height: 30vh;
  width: 100%;
  border: 1px solid black;
  position: relative;
}

h1 {
  color: blue;
}

#svg {
  display: flex;
  padding-left: 30%;
  height: 80%;
  width: 80%;
  justify-content: center;
}

svg g path {
  transition: 0.3s all ease-in-out;
}

svg g path:hover {
  fill: rgb(45, 185, 240);
  cursor: pointer;
  transition: 0.2s all ease;
}

.content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border: 1px solid black;
  height: 57vh;
}

.parklist {
  width: 60%;
  height: 100%;
  border: 1px solid black;
}

.park {
  width: 40%;
  height: 100%;
  border: 1px solid black;
}

.weather {
  height: 40%;
  width: 100%;
  border: 1px solid black;
}

.images {
  height: 60%;
  width: 100%;
  border: 1px solid black;
}

.nav-wrapper {
  background-color: darkgreen;
}

.page-footer {
  display: flex;
  height: 6vh;
  background-color: darkgreen;
}

.brand-logo {
  margin-left: 1.5em;
  font-family: "Noto Serif HK", serif;
}

.card {
  margin-right: 2em;
}

.collMenu {
  width: 60%;
}

.slidePic {
  height: 100px;
  width: 40%;
}

.infoContainer {
  display: flex;
  flex-wrap: wrap;
}
