* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

html {
  font-family: 'Noto Serif HK', serif;
}

#myMap {
  height: 400px;
  width: 100%;
  border: 1px solid black;
}

h1 {
  color: blue;
}

#svg {
  height: 100%;
  width: 100%;
}

svg g path {
  transition: 0.3s all ease-in-out;
}

svg g path:hover {
  fill: rgb(45, 185, 240);
  cursor: pointer;
  transition: 0.2s all ease;
}

.weather {

  height: 200px;
  width: 100%;
  border: 1px solid black;
}

.nav-wrapper {
  background-color: darkgreen;


}

.page-footer {
  display: flex;
  height: 8%;
  background-color: darkgreen;
}

.brand-logo {
  margin-left: 1.5em;
  font-family: 'Noto Serif HK', serif;
}

.card {
  margin-right: 2em;
}

.collMenu {
  width: 60%;
}

.slidePic {
  height: 100px;
  width: 40%;
}

.infoContainer {
  display: flex;
  flex-wrap: wrap;
}