* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  flex: 1 0 auto;
}

html {
  font-family: "Noto Serif HK", serif;
}

#myMap {
  height: 30vh;
  width: 100%;
  border: 1px solid black;
  position: relative;
}

h1 {
  color: blue;
}

#svg {
  display: flex;
  padding-left: 30%;
  height: 80%;
  width: 80%;
  justify-content: center;
}

svg g path {
  transition: 0.3s all ease-in-out;
}

svg g path:hover {
  fill: rgb(45, 185, 240);
  cursor: pointer;
  transition: 0.2s all ease;
  transform: scale(1.006);
}

.content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border: 1px solid black;
  height: 600px;
  margin-bottom: 5px;
}

.parklist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  border: 1px solid black;
  align-items: center;
}

.park {
  width: 40%;
  height: 100%;
  border: 1px solid black;
}

.weather {
  height: 40%;
  width: 100%;
  border: 1px solid black;
}

.images {
  height: 60%;
  width: 100%;
  border: 1px solid black;
}

.nav-wrapper {
  background-color: darkgreen;
}

.page-footer {
  display: flex;
  height: 6vh;
  background-color: darkgreen;
}

.brand-logo {
  margin-left: 1.5em;
  font-family: "Noto Serif HK", serif;
}

.card {
  margin-right: 2em;
}

.collMenu {
  width: 60%;
}

.slidePic {
  height: 100px;
  width: 40%;
}

.infoContainer {
  display: flex;
  flex-wrap: wrap;
<<<<<<< HEAD
}

.navbar-fixed {
  position: relative;
  z-index: 999999;
}

.hidden {
  display: none;
}

.navbar-fixed {
  position: relative;
  z-index: 999999;
}

.hidden {
  display: none;
}

.parkContent {
  border-bottom: 1px solid black;
  padding: 2px 7px;
}

.parkName {
  margin-top: 5px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.description {
  font-size: 12px;
  margin-bottom: 10px;
}

.info {
  font-size: 12px;
}

.parkContent:nth-of-type(1) {
  margin-top: 1.5%;
}
