* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Caveat&family=Oleo+Script+Swash+Caps&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.509);
}

main {
  flex: 1 0 auto;
}

html {
  font-family: "Noto Serif HK", serif;
}

#myMap {
  height: 35vh;
  width: 100%;
  border: 1px solid black;
  position: relative;
}

h1 {
  color: blue;
}

#svg {
  display: flex;
  height: 80%;
  width: 80%;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 10%;
}

svg g path {
  transition: 0.3s all ease-in-out;
}

svg g path:hover {
  fill: rgb(45, 185, 240);
  cursor: pointer;
  transition: 0.2s all ease;
  transform: scale(1.006);
}

.content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border: 1px solid black;
  height: 600px;
  margin-bottom: 5px;
}

.parklist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;

  align-items: center;
}

.park {
  width: 45%;
  height: 100%;
}

.weather {
  height: 50%;
  width: 100%;
  background-color: rgb(2, 195, 230);
  border-left: 1px solid black;
}

.images {
  height: 50%;
  width: 100%;
  border: 1px solid black;
}

.nav-wrapper {
  background-color: darkgreen;
}

.page-footer {
  display: flex;
  height: 6vh;
  background-color: darkgreen;
}

.brand-logo {
  margin-left: 1.5em;
  font-family: "Noto Serif HK", serif;
}

.card {
  margin-right: 2em;
}

.collMenu {
  width: 60%;
}

.slidePic {
  height: 100px;
  width: 40%;
}

.infoContainer {
  display: flex;
  flex-wrap: wrap;
}

.navbar-fixed {
  position: relative;
  z-index: 999999;
}

.hidden {
  display: none;
}

.navbar-fixed {
  position: relative;
  z-index: 999999;
}

.hidden {
  display: none;
}

.parkContent {
  border-bottom: 1px solid black;
  padding: 2px 7px;
  width: 100%;
}

.parkName {
  margin-top: 5px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
  color: rgba(4, 4, 4, 0.6);
  font-family: "Oleo Script Swash Caps", cursive;
}

.description {
  font-size: 12px;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);

  font-weight: 500;
}

.info {
  font-size: 12px;
}

.parkContent:nth-of-type(1) {
  margin-top: 1.5%;
}

nav img {
  width: 80px;
  height: 65px;
}

.mainWrap {
  width: 100%;
  height: 90vh;
  opacity: 1;
  position: relative;
}

.weather-wrapper-1 {
  display: flex;
  height: 45%;
  align-items: center;
  margin: 0 5px;
  justify-content: center;
}

.weather-wrapper-2 {
  display: flex;
  align-items: center;
  height: 55%;
  width: 100%;
}

.forecastdata {
  font-size: 12px;
  padding: 3px;

  width: 20%;
  height: 90%;
  border: 1px solid rgb(255, 253, 253);
  border-radius: 5px;
  margin: 0 3px;
}

.mainweatherdata {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  border: 1px solid rgb(255, 254, 254);
  border-top: none;
  border-bottom-left-radius: 10px;
  padding: 5px;
  align-items: flex-start;
  justify-content: center;
}

.forecasticon,
.forecastdate {
  text-align: center;
}

.forecasttemp {
  padding-top: 15px;
}

#icondata {
  width: 20%;
  height: 100%;
  border: 1px solid rgb(255, 255, 255);
}

#additionaldata {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 30%;
  height: 100%;
  border: 1px solid rgb(255, 255, 255);
  border-top: none;
  border-bottom-right-radius: 10px;
  padding: 5px;
}

.images img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  transition: 0.3s all ease-in-out;
  object-fit: cover;
}

#icondata {
  display: flex;
  justify-content: center;
  align-items: center;
}

#icondata img {
  width: 75%;
  height: 75%;
  background-size: cover;
}

.description a {
  cursor: pointer;
  text-decoration: none;
  background: rgb(4, 125, 150);
  padding: 1px 5px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-left: 2px;
}

.description a:hover {
  background-color: rgb(15, 203, 203);
}

.description a:active {
  transform: scale(0.95);
}

.parklist .parkName:hover {
  cursor: pointer;
  color: rgb(4, 4, 4);
}

.forecastdate {
  font-weight: bold;
  font-size: 14px;
}

.forecasttemp,
.forecastprecip,
.forecastwind {
  font-weight: bold;
}

#locationName {
  font-weight: bold;
}
